*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

.header {
    position: absolute;
    background-color: #ffffff;
    border-bottom: 2px solid #ececec;
    height: 60px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    display: none;
    font-size: 1rem;
}

.subheader {
    height: 60px;
    width: 100%;
    position: absolute;
    padding: 5px 10px;
    top: 60px;
    color: #8d8d8d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    padding: 5px;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid #683997;
    font-size: 0.9rem;
    background-color: #6e4696;
    color: #ffffff;
}

.colour-grid {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(5, 1fr);
    height: calc(100% - 120px);
    top: 120px;
    width: 100%;
    text-align: center;
}

.colour-grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

input[type=color] {
    visibility: hidden;
    display: inline;
}

.text {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    font-size: 1.75rem;
    cursor: pointer;
}

.text:hover {
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    padding: 5px;
}

.text.is-light {
    color: #000000;
}

.text.is-light:hover {
    background: rgba(0,0,0,0.1);
}

@media (max-width: 680px) {
    .colour-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        top: 160px;
        height: calc(100% - 160px);
    }

    .subheader {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        height: 100px;
        text-align: center;
    }

    .button-container {
        display: flex;
        justify-content:space-evenly;
    }
}

@media (max-width: 660px) {
    h1 {
        font-size: 1.6rem;
    }

    .header button {
        display: inline-block;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 1.3rem;
    }
}